body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    background-image: url(..//image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    padding-top: 1.2rem;
    
}
#body-nav li{
    
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    display: inline-block;
    margin: 0px, 0px, 0px, 0px;
    font-weight: 100;
    font-size: 0.9rem;

}

#body-nav a{
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4;
}
#body-nav li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}